.calculator {
    width: 500px;
    margin: 0 auto;
    text-align: center;
    padding: 30px;
    border: 1px solid black;
    background-color: azure;
    margin-top: 60px;
}

.operations-block {}
.operation-block  {}

.inputs-block{
}

.input-block {
    display: inline-block;
}
.input-left {
    margin-right: 10px;
}
.input-right {
    margin-left: 10px;
}
label {
    display: block;
}

button {
    height: 40px;
    width: 40px;
    margin: 0px 20px 20px 20px;
}

.result-block {
    margin-top: 15px;
}